.login-page, .register-page, .saloon-page, .kitchen-page {
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.login-page, .register-page {
  background-image: url(images/prato.jpg);
}

.saloon-page{
  background-image: url(images/saloon.jpg);
  background-size: 100%;
}

.kitchen-page{
  background-image: url(images/mesa.jpg);
  text-align: center;
  color: aliceblue;
}

.login-form, .register-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
}

.login-form {
  height: 400px;
}

.register-form {
  height: 515px;
}

.radio {
  margin: 4px 4px 4px 10px;
}

main {
  margin: 0 auto;
  display: flex;
  align-content: center;
}

.menu-area {
  vertical-align: top;
  display: inline-flex;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 550px;
  height: 80vh;
  margin-right: 4%;
  padding: 2%;
  margin-left: 50px;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
}

.products {
  display: inline-flex;
  flex: 0 1 45%;
  margin: 10px;
  align-items: center;
}

/* .img-product {
  width: 150px;
  height: 150px;
} */

.choose-item-btn {
  height: 35px;
  margin-right: 15px;
  margin-bottom: 15px;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

.order-info {
  vertical-align: top;
  display: inline-block;
  overflow-y: auto;
  width: 340px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 260px;
  background-color: transparent;
  margin-left: 310px;
  font-weight: bold;
}

/* Isso aqui está bloqueando os botões +/- por algum motivo... */
/* .post-order-btn {
  margin-top: 150px;
} */

.total {
  /* margin-top: 250px; */
  position: absolute;
}

.order-details {
  margin: 5px;
  padding: 10px;
  text-align: right;
  display: inline-block;
  position: absolute;
  width: 250px;
}

.order-summary {
  margin: 50px;
  text-align: center;
  margin-top: 150px;
}

.qtd-item-btn {
  margin: 0 10px 0 10px;
}

.btntransp {
  background-color:gray;
}

.logo {
  width: 300px;
  height: 80px;
  /* padding-left: 50px; */
  /* background-color: gray; */
  /* margin-top: 50px; */
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

::-webkit-scrollbar {
  width: 8px;
  background: gray;
}

::-webkit-scrollbar-thumb {
  background: gray;
}


@media screen and (max-width: 1024px) {

  .login-page, .register-page {
    background-size: 125%;
  }
}
