.login-page, .register-page, .saloon-page, .kitchen-page {
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow-y: auto;
}

.login-page, .register-page {
  background-image: url(./images/pratoOk.jpg);
}

.saloon-page{
  background-image: url(./images/mesaOk.jpg);
  background-size: 100%;
}

.kitchen-page{
  background-image: url(images/mesaOk.jpg);
  text-align: center;
  color: aliceblue;
}

.login-form, .register-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
}

.login-form {
  height: 400px;
}

.register-form {
  height: 515px;
}

.radio {
  margin: 4px 4px 4px 10px;
}

main {
  margin: 0 auto;
  display: flex;
  align-content: center;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}


.logo {
  width: 300px;
  height: 80px;
  overflow-y: auto;
  /* padding-left: 50px; */
  /* background-color: gray; */
  /* margin-top: 50px; */
}

.kitchen-orders {
  display: flex;
  margin-left: 30%;
  overflow-x: auto;
  white-space: nowrap;
}

.pending-orders, .preparing-orders {
  display: inline-block;
  text-align: left;
  border: solid 1px white;
  margin: 10px;
  padding: 10px;
  width: 250px;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

::-webkit-scrollbar {
  width: 14px;
  background: gray;
}

::-webkit-scrollbar-thumb {
  background: gray;
}


@media screen and (max-width: 1024px) {

  .login-page, .register-page {
    background-size: 125%;
  }
}
