.login-page, .register-page, .saloon-page, .kitchen-page {
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow-y: auto;
}

.login-page, .register-page {
  background-image: url(./images/pratoOk.jpg);
}

.saloon-page, .kitchen-page {
  background-image: url(./images/mesaOk.jpg);
  background-size: 100%;
}

.kitchen-page {
  text-align: center;
  color: aliceblue;
  margin: 0;
}

.login-form, .register-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
}

.login-form {
  height: 400px;
}

.register-form {
  height: 515px;
}

.radio {
  margin: 4px 4px 4px 10px;
}

main {
  margin: 0 auto;
  display: flex;
  align-content: center;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

.items-list {
  height: 120px;
  overflow-y: auto;
}

.logo {
  width: 300px;
  height: 80px;
  overflow-y: auto;
  /* padding-left: 50px; */
  /* background-color: gray; */
  /* margin-top: 50px; */
}

.top-items {
  display: flex;
  justify-content: space-between;
}

.btn-logout {
  background-color: transparent;
  border: none;
}

.btn-kitchen {
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 35px;
  width: 240px;
  background-color: rgb(141, 189, 166);
}

.kitchen-orders {
  display: flex;
  margin-left: 25%;
  margin-right: 5%;
  overflow-x: auto;
  white-space: nowrap;
  background-color: rgba(2, 14, 4, 0.767);
  width: 850px;
  border-radius: 5px;
}

.pending-orders, .preparing-orders {
  display: inline-block;
  text-align: left;
  border: solid 1px white;
  margin: 10px;
  padding: 10px;
  width: 260px;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

::-webkit-scrollbar {
  width: 14px;
  background: gray;
}

::-webkit-scrollbar-thumb {
  background: gray;
}


@media screen and (max-width: 1024px) {

  .login-page, .register-page, .saloon-page, .kitchen-page {
    background-size: 125%;
  }

  .kitchen-orders {
    margin: 0 auto;
  }

  .top-items {
    margin-top: 20px;
  }
}
